@import "../../../assets/styles/variables.scss";
@import "../../../assets/styles/mixins.scss";

.view {
	background: url("../../../assets/images/Confetti-Doodles-white-secondary-primary.svg");
	display: grid;
	grid-template-areas:
		"navbar"
		"main"
		"footer";
	grid-template-rows: 250px auto 100px;
	overflow-x: hidden;

	.navbar {
		grid-area: navbar;
	}

	.main {
		min-height: calc(100vh - 350px);
		grid-area: main;

		display: grid;
		justify-items: center;
		grid-gap: 20px;
		margin-bottom: 50px;
		grid-template-rows: min-content min-content auto;
		.tags {
		}
	}

	.footer {
		grid-area: footer;
	}

	.title {
		@include fugazOne36;
		margin: 0;
	}

	.description {
		@include notoSans24;
	}

	.conversation {
		min-height: 200px;
		width: 300px;
		background: #ffffffee;

		@media (min-width: 768px) {
			width: 600px;
			padding: 25px;
		}

		@media (min-width: 991px) {
			width: 800px;
			padding: 50px;
		}

		@media (min-width: 1200px) {
			width: 1000px;
		}

		.input-group {
			display: grid;
			justify-items: center;
			grid-gap: 20px;

			input {
				text-align: center;
				border: 0;
				border-bottom: 1px solid $light-grey;
				padding: 10px;
			}
			.input-title {
				@include fugazOne24;
				width: 100%;

				@media (min-width: 768px) {
					@include fugazOne36;
				}
			}
			.input-description {
				@include notoSans16;
				width: 100%;
				margin-bottom: 50px;
				object-fit: fill;
			}
			color: $primary-light;
		}

		.conversation-options {
			display: flex;
			justify-content: space-between;
			margin-top: 50px;

			.conversation-left {
				display: flex;
				justify-content: space-between;

				> :not(:last-child) {
					margin-right: 20px;
				}
			}
			.conversation-right {
				display: flex;
				justify-content: space-between;

				> :not(:last-child) {
					margin-right: 20px;
				}
			}
		}
	}
}
