@import "../../../../assets/styles/variables.scss";
@import "../../../../assets/styles/mixins.scss";

.btn-add-conversation {
	width: 75px;
	height: 75px;
	position: fixed;
	bottom: 20px;
	right: 20px;
	z-index: 10;
	cursor: pointer;
	box-shadow: $box-shadow-1;
	border-radius: 50%;
	transition: $transition;

	&:hover {
		box-shadow: $box-shadow-2;
	}

	@media (min-width: 768px) {
		bottom: 62px;
		right: 70px;
	}
}
