@import "../../../assets/styles/variables.scss";
@import "../../../assets/styles/mixins.scss";
.user-navbar-light,
.user-navbar {
	width: 100vw;
	height: 250px;
	padding: 20px 40px;
	box-sizing: border-box;
	position: relative;

	@media (min-width: 768px) {
		padding: 50px 100px;
	}
	.user-actions {
		position: absolute;
		right: 100px;
		top: 75px;
		display: grid;
		grid-gap: 50px;
		z-index: 10;
		.user-icon,
		.user-action-buttons > div {
			cursor: pointer;
			box-shadow: $box-shadow-1;
			transition: $transition;

			&:hover {
				box-shadow: $box-shadow-2;
			}
		}
		.user-icon {
			width: 75px;
			height: 75px;
			border-radius: 50%;
			background: url("../../../assets/images/ryan-centaur-min.jpg");
			background-position: center center;
			background-size: cover;
			border: 2px solid $primary;
			box-sizing: border-box;
			margin-left: auto;

			@media (min-width: 768px) {
				width: 100px;
				height: 100px;
			}
		}
		.user-action-buttons {
			display: grid;
			grid-gap: 50px;
			justify-items: center;
			transition: $transition-slow;
			opacity: 0;

			&.show {
				opacity: 1;

				.user-settings-button,
				.user-logout-button {
					transform: translateY(0);
				}
			}

			.user-settings-button,
			.user-logout-button {
				width: 75px;
				height: 75px;
				border-radius: 50%;
				display: grid;
				align-items: center;
				justify-content: center;
			}
			.user-settings-button {
				background: $primary;
				transform: translateY(-180%);
			}
			.user-logout-button {
				background: $secondary;
				transform: translateY(-350%);
			}
		}
	}
}

.user-navbar-light {
	display: flex;
	justify-content: space-between;
	align-items: center;

	.brand {
		@include fugazOne48;
		a {
			color: $primary;
			text-decoration: none;
		}
	}
}

.user-navbar {
	// Maybe use the unsplash API to choose a random image here, remember to hide your API token
	background: linear-gradient(180deg, #ffffff 0%, rgba(255, 255, 255, 0) 100%),
		url("../../../assets/images/john-towner-154060-unsplash.jpg");
	background-size: cover;
	background-position: center;
	box-shadow: $box-shadow-1;

	display: grid;
	align-content: center;
	align-items: flex-start;
	grid-template-columns: 1fr 1fr;
	grid-row-gap: 20px;

	@media (min-width: 768px) {
		grid-template-columns: 100px auto 100px;
	}

	.dropdown-icon {
		padding: 10px;
		cursor: pointer;
		transition: $transition;
		padding: 15px;

		&:hover {
			transition: $transition;
			transform: scaleY(1.2) skew(-10deg);
		}
	}
	.welcome-text {
		display: none;

		@media (min-width: 768px) {
			display: block;
		}

		.welcome-heading {
			@include fugazOne24;
			margin: 0;

			@media (min-width: 768px) {
				@include fugazOne36;
			}

			@media (min-width: 991px) {
				@include fugazOne48;
			}
		}

		.welcome-subheading {
			@include notoSans16;
			color: $white;

			@media (min-width: 768px) {
				@include notoSans24;
				color: $white;
			}
		}
	}

	.user-icon {
		align-self: center;
	}
}
