@import "../../../assets/styles/variables.scss";
@import "../../../assets/styles/mixins.scss";

// prevent overflow-y from cause overflow-x via scrollbar
.user-home {
	display: grid;
	grid-template-areas:
		"navbar"
		"main"
		"footer";
	grid-template-rows: 250px auto 100px;
	overflow-x: hidden;

	.navbar {
		grid-area: navbar;
	}

	.main {
		min-height: calc(100vh - 350px);
		grid-area: main;
	}

	.footer {
		grid-area: footer;
	}

	background: url("../../../assets/images/Confetti-Doodles-white-secondary-primary.svg");

	.conversations-container {
		width: 100vw;
		box-sizing: border-box;
		padding: 0 40px;

		display: grid;
		grid-auto-rows: 270px;
		grid-auto-flow: dense;
		grid-column-gap: 25px;
		grid-row-gap: 68px;
		grid-template-columns: 1fr;

		@media (min-width: 768px) {
			padding: 100px 120px;
			grid-template-columns: repeat(2, 1fr);
		}
		@media (min-width: 1200px) {
			grid-template-columns: repeat(3, 1fr);
			grid-column-gap: 120px;
		}
	}
}
