@import "../../assets/styles/variables.scss";
@import "../../assets//styles/mixins.scss";
.navbar {
	display: flex;
	justify-content: space-between;
	height: 100px;
	align-items: center;
	background: $white;
	padding: 20px 100px;

	.brand {
		@include fugazOne48;
		a {
			color: $primary;
		}
	}

	a {
		text-decoration: none;
	}

	.navbar-options {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-column-gap: 20px;
	}
}
