@import "../../assets/styles/variables.scss";
@import "../../assets/styles/mixins.scss";

.home {
	display: grid;
	grid-template-areas:
		"navbar"
		"main"
		"footer";
	grid-template-rows: 250px auto 100px;
	overflow-x: hidden;

	.navbar {
		grid-area: navbar;
	}

	.main {
		min-height: calc(100vh - 350px);
		grid-area: main;
	}

	.footer {
		grid-area: footer;
	}
	.home-story {
		display: grid;
		width: 100%;
		.story-part {
			height: 80vh;
			min-height: 650px;
			display: flex;
			align-items: center;
			// switch second img and text, s text is shown first
			@media (max-width: 1199px) {
				min-height: 450px;
			}
			@media (max-width: 991px) {
				min-height: 500px;
				&:nth-child(2) img {
					grid-row: 2/3;
				}
			}
			// This is the container
			> div {
				display: grid;
				grid-template-columns: 1fr 1fr;
				align-items: center;

				@include notoSans36;
				justify-items: center;

				@media (max-width: 1350px) {
					font-size: 2.4rem;
					@include notoSans24;
				}
				@media (max-width: 991px) {
					grid-template-columns: 1fr;
				}

				img {
					height: 500px;

					@media (max-width: 1350px) {
						height: 40vh;
					}
				}
			}
			&:last-child {
				background: linear-gradient($white, $primary 80%);

				h2 {
					color: $white;
				}
			}
		}
	}
}
