@import "../../assets/styles/variables.scss";
.login {
	display: grid;
	grid-template-areas:
		"navbar"
		"main"
		"footer";
	grid-template-rows: 250px auto 100px;
	overflow-x: hidden;

	.navbar {
		grid-area: navbar;
	}

	.main {
		min-height: calc(100vh - 350px);
		grid-area: main;
	}

	.footer {
		grid-area: footer;
	}
	.container {
		height: 500px;
		width: 80vw;
		margin: auto;
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-column-gap: 20px;

		img {
			max-width: 50vw;
			height: 500px;
		}

		.login-options {
			display: grid;
			align-content: center;
			grid-row-gap: 20px;
			justify-items: center;

			a {
				text-decoration: none;
			}
		}
	}
}
