// Colors
$primary: #011936;
$primary-light: #2f3f60;
$primary-dark: #000011;
$secondary: #00c853;
$secondary-light: #4efc82;
$secondary-dark: #009624;
$light-grey: #cccccc;
$lighter-grey: #e5e5e5;
$white: #ffffff;
$red: #b71c1c;

// Situational colors
$google: #ea4225;
$facebook: #3b5998;
$spotify: #1db954;

// Spacing

// Fonts

// Others
$box-shadow-1: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
$box-shadow-2: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
$box-shadow-3: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
$box-shadow-4: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
$box-shadow-5: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
$transition: 0.28s cubic-bezier(0.4, 0, 0.2, 1),
	0.28s cubic-bezier(0.4, 0, 0.2, 1);
$transition-slow: 0.5s cubic-bezier(0.4, 0, 0.2, 1),
	0.5s cubic-bezier(0.4, 0, 0.2, 1);
